<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Recent pins:</h4>
            <div class="loader-wrapper" ng-show="vm.loading">
                <img src="/images/loading.gif" class="loader"/>
            </div>
            <div deckgrid class="deckgrid" source="vm.allPins">
                <div class="card text-center">
                    <div class="img-wrapper">
                        <img ng-src="{{card.url}}" fallback-src="{{'https:\//placeholdit.imgix.net/~text?txtsize=33&txt=No%20Image!&w=188&h=188'}}" alt="{{card.title}}" />
                    </div>
                    <div class="caption">
                        <div class="pin-title">
                            {{card.title}}
                        </div>
                        <a ng-href="/user/{{card.owner.id}}">{{card.owner.displayName}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>